* {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}
body {
  overflow: hidden;
}
/* 첫화면 */
.first {
  width: 100%;
  height: 100vh;
  background-color: #e3d7c9;
  position: relative;
  transition: opacity 1s ease;
}
.fade-out {
  opacity: 0;
}
.first .textbox {
  color: #162a46;
  text-shadow: 7px 5px 2px rgba(139, 115, 85, 0.4);
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line1,
.line2 {
  text-align: center; /* 각 줄 중앙 정렬 */
}

.blink {
  display: inline-block;
  width: 3px;
  height: 3rem;
  background-color: #162a46;
  margin-left: 3px;
  animation: blink 0.5s infinite;
  vertical-align: text-bottom;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}
/* main 첫번째 화면 */
.first_page {
  display: none;
  height: 100vh;
  width: 100%;
  background-color: #162a46;
  color: #e3d7c9;
  opacity: 0;
  transition: opacity 1s ease;
}
/* main 두번째 화면 */
.second_page {
  display: none;
  height: 100vh;
  width: 100%;
  background-color: #162a46;
  color: #e3d7c9;
  opacity: 0;
  transition: opacity 1s ease;
}
/* main 세번째 화면 */
.third_page {
  display: none;
  min-height: 200vh;
  width: 100%;
  background-color: #162a46;
  color: #e3d7c9;
  opacity: 0;
  transition: opacity 1s ease;
  position: relative;
  overflow: hidden;
  /* justify-content: center;
  align-items: center; */
}

/* 배경 텍스트 */
.bg-text {
  position: absolute;
  font-size: 12rem;
  font-weight: 900;
  color: transparent; /* 속 투명 */
  z-index: 1;
  top: 50%;
  left: -100%; /* 왼쪽으로 */
  transform: translate(0%, -50%);
  pointer-events: none;
  white-space: nowrap;
  -webkit-text-stroke: 8px #e3d7c9;
  text-shadow: none;
  opacity: 0; /* 추가! */
}

/* 프로젝트 박스 컨테이너 */

.project-boxes {
  position: relative;
  z-index: 2;
  width: 70%;
  min-height: 250vh;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
  flex-wrap: wrap;
  gap: 50px;
}
.project-boxes li {
  width: 45%;
  margin: 100px 0;
}

.project-boxes li:nth-child(even) {
  margin-top: 0;
}
.project-boxes .imgbox {
  width: 100%; /* 추가! */
}
.project-boxes img {
  background-color: #e3d7c9;
  width: 100%; /* 추가! */
  object-fit: cover;
}
/* textbox */
.project-boxes .textbox {
  width: 100%;
}
.project-boxes h3 {
  font-size: 35px;
  font-weight: normal;
  margin: 20px 0px 5px;
  color: #e3d7c9;
}
.project-boxes .info {
  /* display: flex; */
  color: #e3d7c9;
}
/* main 네번째 화면 */
.fourth_page {
  display: none;
  height: 100vh;
  width: 100%;
  background-color: #162a46;
  color: #e3d7c9;
  opacity: 0;
  transition: opacity 1s ease;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.illust-text {
  width: 70%;
  height: 120px; /* 텍스트 크기와 비슷하게 */
}

.illust-text svg text {
  font-size: 100px;
  font-weight: bold;
  fill: #162a46;
  stroke: #e3d7c9;
  stroke-width: 3px;
}

.illust {
  height: 100%;
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.illust-box {
  width: 80%;
  display: flex;
  gap: 20px;
}

.illust-box li {
  width: calc(100% / 6);
  min-width: 300px;
  border: 1px solid black;
  height: 300px;
  flex-shrink: 0;
}
.illust-box img {
  width: 100%;
  height: 100%;
  background-color: #e3d7c9;
  object-fit: cover;
}
.illust-box li:hover {
  transform: scale(1.2);
}
.fade-in {
  opacity: 1;
}
